a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
*{
	box-sizing: border-box;
}
body{
	background: #302A38;
}
.ba-square-box{
	position: relative;
	background: #451D71;
	max-width: 70vh;
	margin: 15vh auto;
}
.ba-square-box:before{
	content: '';
	display: block;
	padding-top: 100%;
}
.ba-content{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 4%;
}
.column{
	position: absolute;
	width: 12.5%;
	background: #B08BED;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.ba-square{
	width: 100%;
	height: 12.5%;
}
.column:nth-child(1){
	left: 0;
}
.column:nth-child(2){
	left: 12.5%;
}
.column:nth-child(3){
	left: 25%;
}
.column:nth-child(4){
	left: 37.5%;
}
.column:nth-child(5){
	left: 50%;
}
.column:nth-child(6){
	left: 62.5%;
}
.column:nth-child(7){
	left: 75%;
}
.column:nth-child(8){
	left: 87.5%;
}
.ba-square:nth-child(1){
	top: 0;
}
.ba-square:nth-child(2){
	top: 12.5%;
}
.ba-square:nth-child(3){
	top: 25%;
}
.ba-square:nth-child(4){
	top: 37.5%;
}
.ba-square:nth-child(5){
	top: 50%;
}
.ba-square:nth-child(6){
	top: 62.5%;
}
.ba-square:nth-child(7){
	top: 75%;
}
.ba-square:nth-child(8){
	top: 87.5%;
}
.column:nth-child(even) .ba-square:nth-child(even),
.column:nth-child(odd) .ba-square:nth-child(odd)
{
	background: #D4C4ED;
}
.checker{
	position: relative;
	width: 80%;
	height: 80%;
	left: 10%;
	top:10%;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.dark{
	background: #160726;
}
.light{
	background: #7D0F84;
}
.checker:hover{
	cursor: pointer;
	top: -1%;
	box-shadow: 0 5px 15px -2px rgba(0, 0, 0, .7);
}
